@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-green: #8DC63F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
